@font-face {
  font-family: "Raleway";
  src: url("../fonts/Body_text/Raleway-MediumItalic.ttf"), url("../fonts/Body_text/Raleway-Regular.ttf"), url("../fonts/Body_text/Raleway-SemiBold.ttf");
}
@font-face {
  font-family:"KG Second Chances Solid";
  src:url("../fonts/Main_font/KGSecondChancesSolid.eot") format("eot"),url("../fonts/Main_font/KGSecondChancesSolid.woff") format("woff"),url("../fonts/Main_font/KGSecondChancesSolid.ttf") format("truetype");font-weight:normal;font-style:normal;}

html
{
  width: 100%;
  padding: 0;
  font-family: "Raleway";
}
body
{
  width: 100%;
  padding: 0;
}
/* BOTONES */
.btn-primary 
{
  background-color: #aeda23;
  color: #59164a;
  font-family: "KG Second Chances Solid";
  font-size: 9pt;
  height: 25px;
  margin-left: 15px;
  width: 53%;
  border-radius: 20px;
  border: none;
}
.btn-secundary 
{
  background-color: #aa186b;
  color: #fff;
  font-family: "KG Second Chances Solid";
  font-size: 9pt;
  height: 25px;
  padding: 2.5px;
  border-radius: 10px;
  border: none;
}
.btn-warning
{
  background-color: #f49117;
  color: #aa186b;
  font-family: "KG Second Chances Solid";
  font-size: 9pt;
  height: 25px;
  padding: 2.5px;
  border-radius: 10px;
  border: none;
}
/* BANNER */
.head-banner
{
  background-color: #67cbba;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}
.head-banner a .logo 
{
  width: 150px;
}
.body-banner 
{
  background-image: url(../img/banner/banner-1920x409-text.jpg);
  background-size: cover;
  width: 100%;
  height: 130px;
  
}

.foot-banner 
{
  background-color: #59164a;
  color: white;
  font-family: "KG Second Chances Solid";
  width: 100%;
  font-size: 9pt;
  font-weight: 100;
  align-items: center;
  align-content: center;
  text-align: center;
}
.foot-banner p
{
  margin: 0;
  padding: 5px;
}
.foot-banner p button
{
  
}

/* NOSOTROS */
.nosotros
{
  width: 100%;
}
.mision 
{
  width: 100%;
  background-image: url(../img/t-bg.png);
  background-size: 100px 100px;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;

}
.col2 
{
  flex: 50%;
}
.mision button
{
  margin-top: 25px;
  margin-left: 25px;
  font-size: 14pt;
  padding: 10px;
  height: 40px;
  border-radius: 18px;
}
.mision ul 
{
  list-style-type: none;
  padding: 3px;
  margin: 5px;
}
.mision ul li
{
  display: flex;
  background: url('../img/Asset-01.png') no-repeat left;
  background-size: 40px;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
  color: rgb(93, 10, 69);
  font-size: 9pt;
  font-weight: bold;
  filter:contrast(100%);
  align-items: center;
}
.mision .video 
{
  padding: 20px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 90%;
  height: 300px;
  background-color: #393536;
}
.que-es 
{
  width: 100%;
  background-color: #4bc2b6;
  display: flex;
  flex-direction: row;
}
.que-es button
{
  font-size: 14pt;
  padding: 10px;
  margin: 20px;
  height: 10%;
}
.que-es p
{
  margin: 20px;
  color: #fff;
}
.que-es img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* CURRICULO */
.curriculo
{
  background-color: #aa186b;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.curriculo button
{
  padding: 10px;
  margin-top: 15px;
  font-size: 14pt;
  padding: 10px;
  height: 40px;
  border-radius: 18px;
}
.col3
{
  flex: 33%;
  text-align: center;
  align-items: center;
  align-content: center;
}
.curriculo .col3 .cur-sec
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.curriculo .col3 p
{
  margin: 10px;
  padding: 5px;
}

/*para moviles*/
@media (max-width: 800px) {
  .curriculo {
    flex-direction: column;
  }
  .mision
  {
    flex-direction: column;
  }
}
/* para desktop */
@media (min-width: 801px){
  .body-banner 
  {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 420px;
  }
}